obj/Debug/net8.0/staticwebassets.build.json
bin/Debug/net8.0/appsettings.Development.json
bin/Debug/net8.0/appsettings.json
bin/Debug/net8.0/Azure.Core.dll
bin/Debug/net8.0/Azure.Identity.dll
bin/Debug/net8.0/FLuentUI.deps.json
bin/Debug/net8.0/FLuentUI.dll
bin/Debug/net8.0/FLuentUI.exe
bin/Debug/net8.0/FLuentUI.pdb
bin/Debug/net8.0/FLuentUI.runtimeconfig.json
bin/Debug/net8.0/FLuentUI.staticwebassets.runtime.json
bin/Debug/net8.0/Humanizer.dll
bin/Debug/net8.0/Microsoft.AspNetCore.Authorization.dll
bin/Debug/net8.0/Microsoft.AspNetCore.Components.Web.dll
bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.Internal.dll
bin/Debug/net8.0/Microsoft.AspNetCore.Components.Forms.dll
bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
bin/Debug/net8.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
obj/Debug/net8.0/staticwebassets.development.json
*.json
*.props
*.dll
*.cache
obj/Debug/net8.0/FLuentUI.GlobalUsings.g.cs
obj/Debug/net8.0/FLuentUI.GeneratedMSBuildEditorConfig.editorconfig
*.Up2Date
*.txt
*.BuildWithSkipAnalyzers
obj/Debug/net8.0/FLuentUI.AssemblyInfo.cs
*.exe
*.cs
*.targets
obj/Debug/net8.0/FLuentUI.pdb
obj/Debug/net8.0/scopedcss/bundle/FLuentUI.styles.css
